@charset "UTF-8";
/*
    css setting
    custom config
*/
:root {
  --v-blur-bg: rgba(8, 8, 8, 0.75);
  --v-body-bg: rgb(16, 16, 16);
  --v-header-font: rgba(255, 255, 255, .5);
  --v-color: #FF0050;
  --v-header-height: 64px;
}

.wrap {
  height: 100%;
}

.home {
  position: relative;
  min-height: 100%;
  background-color: var(--v-body-bg);
  color: #F5F5F7;
  overflow-x: hidden;
}

.home .container {
  margin: 0 auto;
  padding: var(--v-header-height) 0;
  width: 100%;
}

#u_skip {
  z-index: 2147483647;
  position: relative;
}

#u_skip a {
  position: absolute;
  top: -300px;
  left: 0;
  width: 128px;
  border: 1px solid #4ec53d;
  background: url(https://ssl.pstatic.net/static/common/sp_u_skip.png) repeat-x scroll 0 -11px transparent;
  text-align: center;
  outline: medium none;
}

.loading_vibe {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  text-align: center;
  background-color: var(--v-blur-bg);
}

/*
    gnb nav
    #header
*/
#header {
  z-index: 555;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: var(--v-header-height);
  color: var(--v-header-font);
  -webkit-transition: all 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: all 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  /* 임시 hidden 처리 */
}

#header:before {
  opacity: .5;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 104px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 8, 8, 0)), to(#080808));
  background: linear-gradient(to top, rgba(8, 8, 8, 0), #080808);
}

#header.on_scroll {
  background: var(--v-blur-bg);
  -webkit-backdrop-filter: saturate(150%) blur(20px);
  backdrop-filter: saturate(150%) blur(20px);
}

#header.on_scroll .search_area input {
  -webkit-box-shadow: 0 4px 16px rgba(8, 8, 8, 0.2);
          box-shadow: 0 4px 16px rgba(8, 8, 8, 0.2);
}

#header .logo,
#header .profile_area {
  z-index: 1;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

#header .link_logo:after {
  content: '';
  display: inline-block;
  width: 111px;
  height: 20px;
  background-position: -327px -113px;
}

#header .menu_list {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .menu_list .menu_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--v-header-height);
}

#header .menu_list .menu_item a {
  color: rgba(255, 255, 255, 0.5);
}

#header .menu_list .menu_item a:hover {
  color: #FFF;
}

#header .menu_list .menu_item a.on {
  color: #FFF;
}

#header .menu_list .menu_item .link_menu {
  padding: 4px 24px;
  font-weight: 500;
  font-size: 17px;
  white-space: nowrap;
}

#header .menu_list .menu_item ul {
  opacity: 0;
  z-index: -100;
  position: absolute;
  left: 50%;
  top: -200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 16px;
  width: 120px;
  background-color: var(--v-body-bg);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
          box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
  border-radius: 0 0 3px 3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: top .1s ease-in-out, opacity .1s ease-in-out;
  transition: top .1s ease-in-out, opacity .1s ease-in-out;
}

#header .menu_list .menu_item ul a {
  display: block;
  padding: 2px 0;
  font-size: 16px;
}

#header .menu_list .menu_item ul.open {
  opacity: 1;
  z-index: 555;
  top: var(--v-header-height);
}

#header .profile_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header .profile_area .dropdown_wrap {
  position: relative;
}

#header .profile_area .dropdown_wrap .profile {
  display: block;
}

#header .profile_area .dropdown_wrap .profile .img_wrap {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  overflow: hidden;
}

#header .profile_area .dropdown_wrap .ly_option {
  display: none;
  z-index: 15;
  position: absolute;
  padding: 11px 0;
  white-space: nowrap;
  border-radius: 3px;
  background-color: #FFF;
}

#header .btn_search {
  display: inline-block;
  padding: 4px 16px;
  -webkit-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
}

#header .btn_search:after {
  width: 20px;
  height: 20px;
  background-position: -32px -716px;
}

#header .btn_search.is_close:after {
  background-position: -4px -716px;
}

#header .search_area {
  z-index: 50;
  position: fixed;
  top: -150%;
  left: 50%;
  max-width: 640px;
  width: 60vw;
  height: 0;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#header .search_area .input_area::before {
  display: none;
}

#header .search_area .input_area {
  display: block;
}

#header .search_area input {
  display: block;
  padding: 0 2vw;
  width: 100%;
  height: 64px;
  border: 0;
  background-color: var(--v-body-bg);
  color: #FFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 64px;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.08), 0 4px 24px rgba(8, 8, 8, 0.2);
          box-shadow: 0 1px rgba(255, 255, 255, 0.08), 0 4px 24px rgba(8, 8, 8, 0.2);
  border-radius: 0 0 4px 4px;
}

#header .search_area.open {
  top: 0;
  opacity: 1;
  height: 64px;
}

#header .btn_close_search,
#header .floating_area,
#header .extra_menu,
#header .extra_menu_m,
#header .btn_close,
#header .btn_menu {
  display: none;
}

.today_headline {
  position: relative;
  margin: 0 auto;
  padding-top: 12vw;
  width: 88%;
}

.today_headline h2 {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
}

.today_headline .link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
  background-color: #FBFBFD;
  color: var(--v-body-bg);
  border-radius: 4px;
}

.today_headline .link:hover .thumb:after {
  opacity: .8;
}

.today_headline .link:hover .thumb img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.today_headline .link:hover:after {
  opacity: 1;
  right: -2vw;
}

.today_headline .link:hover:before {
  opacity: .5;
}

.today_headline .link:after {
  opacity: 0;
  content: '자세히 \21C0';
  position: absolute;
  right: 4vw;
  top: 4vw;
  padding: 0 1vw;
  height: 4vw;
  background-color: var(--v-color);
  color: #FFF;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 4vw;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: all 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: all 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
}

.today_headline .link:before {
  opacity: .25;
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(8, 8, 8, 0)), to(#080808));
  background-image: linear-gradient(to right, rgba(8, 8, 8, 0), #080808);
  -webkit-transition: opacity 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: opacity 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
}

.today_headline .cover {
  opacity: .8;
  z-index: 0;
  position: absolute;
  width: 88%;
  height: 88vh;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}

.today_headline .cover img {
  display: block;
  margin: 0 auto;
  width: calc(100% - 2px);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.today_headline .cover:before {
  content: '';
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#101010), color-stop(40%, rgba(16, 16, 16, 0.25)), color-stop(60%, rgba(16, 16, 16, 0.25)), color-stop(90%, #101010));
  background-image: linear-gradient(to right, #101010 0%, rgba(16, 16, 16, 0.25) 40%, rgba(16, 16, 16, 0.25) 60%, #101010 90%);
}

.today_headline .cover:after {
  content: '';
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0)), to(#101010));
  background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0), #101010);
}

.today_headline .today_mag {
  z-index: 1;
  position: relative;
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.today_headline .thumb {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  position: relative;
  border-radius: 3px 0 0 3px;
  overflow: hidden;
}

.today_headline .thumb img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1), -webkit-transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
}

.today_headline .thumb:after {
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  opacity: .5;
  -webkit-transition: all 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: all 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
}

.today_headline .text_area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 1;
  position: relative;
  padding: 0 4vw 4vw;
}

.today_headline .text_area .title {
  display: block;
  font-weight: 700;
  font-size: 3.2vw;
  line-height: 1.3;
  word-break: keep-all;
  white-space: pre-line;
}

.today_headline .text_area .info {
  margin-top: 1.2vw;
  padding-top: 7px;
  font-weight: 500;
  font-size: 1.4vw;
  line-height: 1.58824;
  word-break: keep-all;
}

.today_headline .text_area .sub {
  margin-top: 1.2vw;
  font-weight: 500;
  font-size: 1.4vw;
  opacity: .5;
}

.today_headline .text_area .sub .item + .item::before {
  content: '\22C5';
  padding: 0 4px;
}

.today_section {
  position: relative;
  margin: 0 auto;
  padding-top: 6vw;
  width: 88%;
}

.today_section h3 {
  padding-bottom: 1.6vw;
  font-size: 1.6vw;
}

.today_section .info {
  font-size: 1.25vw;
  line-height: 1.5;
  letter-spacing: 0;
}

.today_section .info .artist {
  opacity: .5;
  max-height: 3.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.today_section .title {
  display: block;
  font-size: 1.25vw;
  line-height: 1.5;
  letter-spacing: 0;
  word-break: keep-all;
  white-space: pre-line;
}

.today_section .title:hover {
  text-decoration: underline;
}

.today_section .link_sub,
.today_section .sub {
  display: block;
  opacity: .5;
  font-size: 1.25vw;
  line-height: 1.5;
  letter-spacing: 0;
}

.today_section .list_item {
  position: relative;
  margin-right: 1.8vw;
  width: 100%;
}

.today_section .list_item:hover .link:after {
  opacity: .8;
}

.today_section .list_item:hover .link img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.today_section .list_item:last-child {
  margin-right: 0;
}

.today_section .list_item .btn_play_now {
  opacity: 0;
  z-index: 25;
  position: absolute;
  bottom: 12px;
  left: 12px;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}

.today_section .list_item .btn_play_now:before {
  content: '';
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.4);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-backdrop-filter: saturate(150%) blur(8px);
          backdrop-filter: saturate(150%) blur(8px);
  -webkit-transition: all 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: all 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
}

.today_section .list_item .btn_play_now:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 19px;
  background-position: -760px -88px;
  -webkit-transform: translate(-7px, -9px) scale(0.8);
          transform: translate(-7px, -9px) scale(0.8);
}

.today_section .list_item .btn_play_now:hover:before {
  background-color: var(--v-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.today_section .list_item:hover .btn_play_now,
.today_section .list_item:hover .btn_option_now {
  opacity: 1;
}

.today_section .thumb_area {
  position: relative;
}

.today_section .link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: block;
  margin-bottom: 1vw;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  border-radius: 4px;
}

.today_section .link img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1), -webkit-transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
}

.today_section .link:after {
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  border-radius: 3px;
  opacity: .5;
  -webkit-transition: all 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: all 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
}

.today_section .dropdown_wrap {
  z-index: 25;
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 32px;
  height: 32px;
}

.today_section .dropdown_wrap .btn_option_now {
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}

.today_section .dropdown_wrap .btn_option_now:after {
  display: block;
  width: 32px;
  height: 32px;
  background-position: -710px -4px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.today_section .dropdown_wrap .ly_option {
  display: none;
  z-index: 55;
  position: absolute;
  right: -8px;
  top: 40px;
  width: 150px;
  background: #FFF;
  border-radius: 4px;
}

.today_section .dropdown_wrap .ly_option a {
  display: block;
  padding: 6px 12px;
  color: var(--v-body-bg);
  font-size: 14px;
  white-space: nowrap;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px rgba(0, 0, 0, 0.08);
}

.today_section .dropdown_wrap .ly_option a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/*
    footer
*/
.footer {
  margin: 4vw auto;
  padding: 2vw;
  width: 88%;
  background: #181818;
}

.footer .notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
    animation
*/
.anima_bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
  }
  88% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
  }
  88% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bounceLoop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes bounceLoop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/*
    img sprite
*/
.header .auto_keyword:before,
.header .btn_close:after,
.header .btn_close_search:after,
.header .btn_menu:after,
.header .btn_search:after,
.header .input_area:before,
.header .link_chart.on:before,
.header .link_chart:before,
.header .link_dj.on:before,
.header .link_dj:before,
.header .link_library.on:before,
.header .link_library:before,
.header .link_logo:after,
.header .link_mag.on:before,
.header .link_mag:before,
.header .link_monthly.on:before,
.header .link_monthly:before,
.header .link_musician_league:after,
.header .link_onstage:after,
.header .link_today.on:before,
.header .link_today:before,
.header .link_wheresmymoney:after,
.header .ly_menu.on .link_chart.on:before,
.header .ly_menu.on .link_chart:before,
.header .ly_menu.on .link_dj.on:before,
.header .ly_menu.on .link_dj:before,
.header .ly_menu.on .link_mag.on:before,
.header .ly_menu.on .link_mag:before,
.header .ly_menu.on .link_monthly.on:before,
.header .ly_menu.on .link_monthly:before,
.header .ly_menu.on .link_today.on:before,
.header .ly_menu.on .link_today:before,
.header .profile .nickname:after,
.header .recent_keyword_area .btn_delete:after,
.header .recent_keyword_area .btn_delete_all:after,
.header.side_bar .profile_area .link_login:before,
.header.top_bar.jammtransfer .link_logo:after,
.header.top_bar.jammtransfer .profile .nickname:after,
.header.top_bar .link_download,
.header.top_bar .link_musician_league:after,
.header.top_bar .link_onstage:after,
.header.white_theme .btn_menu:after,
.header.white_theme .link_download,
.header.white_theme .link_logo:after,
.header.white_theme .link_musician_league:after,
.header.white_theme .link_onstage:after,
.header.white_theme .profile .nickname:after,
.list_item .btn_play_now:after,
.list_item .btn_option_now:after {
  content: '';
  display: inline-block;
  background-image: url("../img/sp_vibe.svg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../img/sp_vibe.svg");
  background-image: linear-gradient(transparent, transparent), url("../img/sp_vibe.svg");
  background-size: 808px 764px;
}
