@charset "UTF-8";
/*
    컬러 팔레트 정의
*/
:root {
  --v-c-black: #000;
  --v-c-gray: #8E8E93;
  --v-c-white: #FFF;
  --v-c-border: #2C2C2E;
  --v-c-border-light: #151515;
  --v-c-input: #1C1C1E;
  --v-c-point: #FF0050;
}

/*
    gnb nav
    #header
*/
#header {
  z-index: 555;
  position: fixed;
  bottom: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 280px;
  height: calc(100vh - 81px);
  background: var(--v-c-black);
  color: var(--v-c-white);
  -webkit-transition: all 0.1s cubic-bezier(0.21, 0.6, 0.35, 1);
  transition: all 0.1s cubic-bezier(0.21, 0.6, 0.35, 1);
  /* 임시 hidden 처리 */
}

#header:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: var(--v-c-border);
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

#header:focus-within .menu_item,
#header:focus-within .extra_menu {
  opacity: .2;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#header.on_scroll {
  background: var(--v-blur-bg);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

#header .link_logo {
  display: block;
  margin: 40px 40px 20px;
  width: 158px;
  height: 28px;
  background: url("../svg/logo.svg") no-repeat left center;
  background-size: 158px;
}

#header .my_menu {
  padding: 0 32px 30px;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#header .menu_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#header .menu_list .menu_item {
  position: relative;
}

#header .menu_list .menu_item .link_menu,
#header .menu_list .menu_item .sub_menu_title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  padding: 0 8px;
  height: 40px;
  color: var(--v-c-white);
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

#header .menu_list .menu_item .link_menu.on, #header .menu_list .menu_item .link_menu.on:hover,
#header .menu_list .menu_item .sub_menu_title.on,
#header .menu_list .menu_item .sub_menu_title.on:hover {
  opacity: 1;
  background-color: transparent;
  color: var(--v-c-point);
}

#header .menu_list .menu_item .link_menu.on:after, #header .menu_list .menu_item .link_menu.on:hover:after,
#header .menu_list .menu_item .sub_menu_title.on:after,
#header .menu_list .menu_item .sub_menu_title.on:hover:after {
  border-top-color: var(--v-c-point);
}

#header .menu_list .menu_item .link_menu.on:before, #header .menu_list .menu_item .link_menu.on:hover:before,
#header .menu_list .menu_item .sub_menu_title.on:before,
#header .menu_list .menu_item .sub_menu_title.on:hover:before {
  background-color: var(--v-c-point);
}

#header .menu_list .menu_item .link_menu:hover,
#header .menu_list .menu_item .sub_menu_title:hover {
  opacity: 1;
  background: rgba(255, 0, 80, 0.2);
  color: var(--v-c-point);
}

#header .menu_list .menu_item .link_menu:hover:after,
#header .menu_list .menu_item .sub_menu_title:hover:after {
  border-top-color: var(--v-c-point);
}

#header .menu_list .menu_item .link_menu:hover:before,
#header .menu_list .menu_item .sub_menu_title:hover:before {
  background-color: var(--v-c-point);
}

#header .menu_list .menu_item > .link_menu:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  -webkit-mask: no-repeat center;
          mask: no-repeat center;
  background-color: var(--v-c-white);
  -webkit-mask-size: 22px;
          mask-size: 22px;
}

#header .menu_list .menu_item .link_today:before {
  -webkit-mask-image: url("../svg/i-nav-today.svg");
          mask-image: url("../svg/i-nav-today.svg");
}

#header .menu_list .menu_item .link_chart:before {
  -webkit-mask-image: url("../svg/i-nav-chart.svg");
          mask-image: url("../svg/i-nav-chart.svg");
  -webkit-mask-size: 23px;
          mask-size: 23px;
}

#header .menu_list .menu_item .link_dj:before {
  -webkit-mask-image: url("../svg/i-nav-djstation.svg");
          mask-image: url("../svg/i-nav-djstation.svg");
  -webkit-mask-size: 24px;
          mask-size: 24px;
}

#header .menu_list .menu_item .link_mag:before {
  -webkit-mask-image: url("../svg/i-nav-mag.svg");
          mask-image: url("../svg/i-nav-mag.svg");
}

#header .menu_list .menu_item .link_monthly:before {
  -webkit-mask-image: url("../svg/i-nav-monthly.svg");
          mask-image: url("../svg/i-nav-monthly.svg");
}

#header .menu_list .menu_item .on:before {
  background-color: var(--v-c-point);
}

#header .menu_list .item_library {
  margin-bottom: 20px;
}

#header .menu_list .item_library .sub_menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 5px;
  padding: 0 8px;
  height: 40px;
  color: var(--v-c-white);
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

#header .menu_list .item_library .sub_menu_title:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  -webkit-mask: url("../svg/i-archive.svg") no-repeat center;
          mask: url("../svg/i-archive.svg") no-repeat center;
  background-color: var(--v-c-white);
  -webkit-mask-size: 24px;
          mask-size: 24px;
}

#header .menu_list .item_library .sub_menu_title:after {
  margin-top: 2px;
  margin-left: 6px;
  border: 4px solid transparent;
  border-top-color: var(--v-c-gray);
}

#header .menu_list .item_library ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0 0 42px;
}

#header .menu_list .item_library ul a {
  opacity: .5;
  margin-top: 0;
  height: 37px;
  line-height: 37px;
  font-size: 16px;
}

#header .menu_list .item_library ul a.on {
  opacity: 1;
  color: var(--v-c-point);
}

#header .profile_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 12px 8px;
  border: 1px solid var(--v-c-border-light);
  border-width: 1px 0;
  cursor: pointer;
}

#header .profile_area .profile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .profile_area .img_wrap {
  margin-right: 14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

#header .profile_area .img_wrap img {
  display: block;
  width: 100%;
  height: 100%;
}

#header .profile_area .nickname {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 38px);
  color: var(--v-c-white);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}

#header .profile_area .nickname:after {
  content: '';
  margin-top: 2px;
  margin-left: 6px;
  border: 4px solid transparent;
  border-top-color: var(--v-c-gray);
}

#header .profile_m {
  display: none;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  padding: 0 8px;
  cursor: pointer;
}

#header .profile_m .img_wrap {
  margin-right: 14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

#header .profile_m .img_wrap img {
  display: block;
  width: 100%;
  height: 100%;
}

#header .profile_m .text_wrap {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 38px);
  color: var(--v-c-white);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

#header .profile_m .text_wrap:after {
  content: '';
  margin-top: 2px;
  margin-left: 6px;
  border: 4px solid transparent;
  border-top-color: var(--v-c-gray);
}

#header .search_area {
  position: relative;
  margin-top: 10px;
  width: 100%;
}

#header .search_area .input_area {
  position: relative;
  display: block;
}

#header .search_area .input_area:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 12px;
  top: 11px;
  width: 18px;
  height: 18px;
  -webkit-mask: url("../svg/i-search.svg") no-repeat center;
          mask: url("../svg/i-search.svg") no-repeat center;
  -webkit-mask-size: 18px;
          mask-size: 18px;
  background-color: var(--v-c-gray);
}

#header .search_area .input_area:focus-within:after {
  background-color: var(--v-c-black);
}

#header .search_area .input_area input {
  display: block;
  padding: 0 12px 0 46px;
  width: 100%;
  height: 40px;
  border: 0;
  background: var(--v-c-input);
  color: var(--v-c-white);
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  border-radius: 4px;
}

#header .search_area .input_area input:focus {
  background: var(--v-c-white);
  color: var(--v-c-black);
}

#header .search_area .input_area input::-webkit-input-placeholder {
  color: var(--v-c-gray);
}

#header .search_area .input_area input:-ms-input-placeholder {
  color: var(--v-c-gray);
}

#header .search_area .input_area input::-ms-input-placeholder {
  color: var(--v-c-gray);
}

#header .search_area .input_area input::placeholder {
  color: var(--v-c-gray);
}

#header .search_area {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-bottom: 20px;
}

#header .recent_keyword_area {
  display: none;
  z-index: 1;
  position: fixed;
  margin-top: 10px;
  padding: 5px 0;
  width: 400px;
  background: var(--v-c-white);
  color: var(--v-c-input);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
}

#header .recent_keyword_area h2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 36px;
  color: var(--v-c-gray);
  font-size: 13px;
}

#header .recent_keyword_area h2 .btn_delete_all {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  background-color: var(--v-c-point);
  -webkit-mask: url("../svg/i-close.svg") no-repeat center;
          mask: url("../svg/i-close.svg") no-repeat center;
  -webkit-mask-size: 10px;
          mask-size: 10px;
}

#header .recent_keyword_area h2 .btn_delete_all:hover {
  opacity: 1;
}

#header .recent_keyword_area li {
  position: relative;
}

#header .recent_keyword_area .recent_keyword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 36px;
  color: var(--v-c-black);
  font-size: 16px;
}

#header .recent_keyword_area .recent_keyword:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#header .recent_keyword_area .btn_delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  background-color: var(--v-c-gray);
  -webkit-mask: url("../svg/i-close.svg") no-repeat center;
          mask: url("../svg/i-close.svg") no-repeat center;
  -webkit-mask-size: 10px;
          mask-size: 10px;
}

#header .recent_keyword_area .btn_delete:hover {
  opacity: 1;
}

#header .extra_menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  padding-top: 30px;
}

#header .extra_menu:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: var(--v-c-border);
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

#header .extra_menu a {
  margin: 0 8px;
  height: 36px;
  font-weight: 600;
  font-size: 16px;
}

#header .extra_menu a:hover {
  color: var(--v-c-point);
}

#header .extra_menu .link_wheresmymoney,
#header .extra_menu .link_musician_league,
#header .extra_menu .link_onstage {
  display: block;
}

#header .extra_menu .link_wheresmymoney:before,
#header .extra_menu .link_musician_league:before,
#header .extra_menu .link_onstage:before {
  content: '';
  display: block;
  width: 90px;
  height: 18px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: left center;
          mask-position: left center;
  background-color: var(--v-c-white);
}

#header .extra_menu .link_wheresmymoney:hover:before,
#header .extra_menu .link_musician_league:hover:before,
#header .extra_menu .link_onstage:hover:before {
  background-color: var(--v-c-point);
}

#header .extra_menu .link_wheresmymoney:before {
  width: 82px;
  -webkit-mask-image: url("../svg/i-wheresmymoney.svg");
          mask-image: url("../svg/i-wheresmymoney.svg");
  -webkit-mask-size: 82px;
          mask-size: 82px;
}

#header .extra_menu .link_onstage:before {
  width: 104px;
  -webkit-mask-image: url("../svg/i-onstage.svg");
          mask-image: url("../svg/i-onstage.svg");
  -webkit-mask-size: 104px;
          mask-size: 104px;
}

#header .extra_menu .link_musician_league:before {
  width: 104px;
  -webkit-mask-image: url("../svg/i-musician-league.svg");
          mask-image: url("../svg/i-musician-league.svg");
  -webkit-mask-size: 104px;
          mask-size: 104px;
}

#header .floating_area {
  margin-top: auto;
  padding: 20px;
  width: 100%;
}

#header .floating_area a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background: var(--v-c-border-light);
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
}

#header .floating_area a:before {
  display: none;
  content: '';
  margin-right: 10px;
  width: 17px;
  height: 19px;
  background-color: var(--v-c-white);
  -webkit-mask: url("../svg/i-v.svg") no-repeat center;
          mask: url("../svg/i-v.svg") no-repeat center;
  -webkit-mask-size: 17px;
          mask-size: 17px;
}

#header .floating_area a:hover {
  background: var(--v-c-white);
  color: var(--v-c-black);
}

#header .floating_area a:hover:before {
  background-color: var(--v-c-point);
}

#header .btn_close_search,
#header .extra_menu_m,
#header .btn_close,
#header .btn_menu {
  display: none;
}

#header .ly_option {
  position: absolute;
  margin-left: 36px;
  top: 36px;
  width: 180px;
}

.second #header .menu_list .link_menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 12px;
  border-radius: 20px;
}

.second #header .profile_area {
  display: none;
}

.second #header .profile_m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.second #header .profile_m .img_wrap {
  margin-right: 10px;
}

.second #header .search_area {
  -webkit-box-ordinal-group: inherit;
      -ms-flex-order: inherit;
          order: inherit;
  margin-bottom: 0;
}

.second #header .search_area input {
  padding-left: 42px;
  border-radius: 20px;
}

.second #header .item_library {
  position: relative;
  margin: 30px 0 10px;
  padding-top: 30px;
}

.second #header .item_library:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: var(--v-c-border);
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.second #header .item_library .sub_menu_title {
  display: none;
}

.second #header .item_library ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 42px;
  padding: 8px 0;
  font-weight: 600;
}

.second #header .item_library ul a {
  opacity: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
}

.second #header .item_library ul a:hover {
  color: var(--v-c-point);
}

.second #header .item_library .ly_option a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.second #header .item_library .ly_option a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--v-c-black);
}

.second #header .extra_menu a {
  font-size: 17px;
}

.content .extra_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 95px 0 0;
  font-size: 17px;
}

.content .extra_menu:before {
  content: 'VIBE Spotlight On';
  padding-left: 24px;
  height: 20px;
  background: url("../svg/i-v.svg") no-repeat left center;
  color: var(--v-c-gray);
  font-weight: 600;
  line-height: 20px;
  vertical-align: middle;
}

.content .extra_menu a {
  margin-left: 20px;
  color: var(--v-c-white);
  font-weight: 600;
}

.content .extra_menu a:hover {
  color: var(--v-c-point);
  text-decoration: underline;
}

.content .extra_menu ~ .today_section {
  padding-top: 40px;
}
