/*
    css setting
    custom config
*/

:root {
    --v-c-black: #000;
    --v-c-gray: #8E8E93;
    --v-c-white: #FFF;
    --v-c-border: #2C2C2E;
    --v-c-border-light: #151515;
    --v-c-input: #1C1C1E;
    --v-c-point: #FF0050;
}

.wrap {
    height: 100%;
}

.home {
    position: relative;
    height: calc(100vh);
    background-color: var(--v-c-black);
    color: var(--v-c-white);
    overflow-x: hidden;
    overflow-y: auto;
    .container {
        position: relative;
        margin: 0 0 0 280px;
        .content {
            margin: 0 auto;
            width: 1160px;
        }
    }
}

#u_skip {
    z-index: 2147483647;
    position: relative;
    a {
        position: absolute;
        top: -300px;
        left: 0;
        width: 128px;
        border: 1px solid #4ec53d;
        background: url(https://ssl.pstatic.net/static/common/sp_u_skip.png) repeat-x scroll 0 -11px transparent;
        text-align: center;
        outline: medium none;
    }
}

.loading_vibe {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
    text-align: center;
    background-color: var(--v-blur-bg);
}

// 배너
.admin_banner_section {
    position: relative;
    width: 100%;
    a {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        img {
            display: block;
            height: 50px;
        }
        .img_m {
            display: none;
        }
    }
    .btn_close {
        z-index: 55;
        position: absolute;
        right: 0;
        top: 0;
        width: 52px;
        height: 50px;
        background: url('../svg/i-close.svg') no-repeat center;
    }
}

//
// 매거진 섹션
//
.today_headline,
.jamm_banner {
    display: none;
}
a.section_title {
    position: relative;
    cursor: pointer;
    &:after {
        opacity: 0;
        content: '';
        display: inline-block;
        margin-left: 8px;
        width: 15px;
        height: 12px;
        background-color: var(--v-c-white);
        mask: url('../svg/i-carousel-next.svg') no-repeat center;
        transform: translateX(-8px);
        transition: all .1s ease-in-out;
    }
    &:hover {
        text-decoration: underline;
        &:after {
            opacity: 1;
            transform: translateX(-2px);
        }
    }
}
.today_section {
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    & + .today_section {
        padding-top: 70px;
    }
    div {
        position: relative;
    }
    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .section_title {
            display: block;
            padding-bottom: 20px;
            font-weight: 700;
            font-size: 20px;
        }
        .link_view_all {
            opacity: .85;
            font-size: 15px;
            &:hover {
                opacity: 1;
            }
        }
    }
    .info {
        font-weight: 400;
        .title,
        .artist {
            max-height: 48px;
            font-size: 15px;
            line-height: 24px;
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .artist {
            opacity: .5;
        }
    }
    .title {
        display: block;
        margin-top: 12px;
        letter-spacing: 0;
        font-size: 15px;
        line-height: 1.4;
        word-break: keep-all;
        white-space: pre-line;
        &:hover {
            text-decoration: underline;
        }
    }
    .link_sub {
        opacity: .5;
        display: block;
        margin-top: 10px;
        font-size: 15px;
        text-align: right;
    }
    .sub {
        opacity: .5;
        display: block;
        margin-top: 4px;
        height: 48px;
        font-size: 15px;
        line-height: 24px;
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .scroll_list {
        display: block;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        scrollbar-width: none;
    }
    .list_item {
        display: inline-block;
        position: relative;
        width: calc(1080px / 5);
        vertical-align: top;
        font-size: 14px;
        transition: all .1s cubic-bezier(.210, .60, .350, 1);
        &+.list_item {
            margin-left: 20px;
        }
        &:hover {
            .link:after {
                opacity: .5;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        .btn_play_now {
            opacity: 0;
            z-index: 25;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 15px;
            left: 15px;
            width: 44px;
            height: 44px;
            background-color: rgba(0, 0, 0, .5);
            backdrop-filter: blur(8px);
            border-radius: 50%;
            transition: all .15s cubic-bezier(.210, .60, .350, 1);
            &:after {
                content: '';
                width: 15px;
                height: 18px;
                background: url('../svg/i-play.svg') no-repeat center;
                background-size: 12px;
                transform: translateX(1px);
            }
            &:hover {
                background-color: var(--v-c-point);
            }
            &:active {
                transform: rotateX(180deg);
            }
        }
        &:hover {
            .btn_play_now,
            .btn_option_now {
                opacity: 1;
            }
        }
    }
    .thumb_area {
        position: relative;
    }
    .link {
        flex: 1;
        position: relative;
        display: block;
        width: 100%;
        max-height: 400px;
        overflow: hidden;
        border-radius: 4px;
        img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            transition: transform .5s cubic-bezier(.210, .60, .350, 1);
        }
        &:after {
            content: '';
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            opacity: 0;
            transition: all .5s cubic-bezier(.210, .60, .350, 1);
        }
    }
    .more_option {
        z-index: 25;
        position: absolute;
        left: 68px;
        bottom: 15px;
        width: 40px;
        height: 44px;
        .btn_option_now {
            opacity: 0;
            display: block;
            width: 40px;
            height: 44px;
            background: url('../svg/i-more.svg') no-repeat center;
            transition: opacity .1s ease-in;
        }
        .ly_option {
            display: none;
            z-index: 55;
            position: absolute;
            left: -8px;
            top: 40px;
            width: 150px;
            background: #FFF;
            border-radius: 5px;
            a {
                display: block;
                padding: 6px 12px;
                color: var(--v-c-black);
                font-weight: 400;
                font-size: 13px;
                white-space: nowrap;
                box-shadow: 0 1px rgba(0, 0, 0, .08);
                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                }
            }
        }
    }
    .list_wrap_larger.is_mag,
    .list_wrap_news {
        .list_item {
            margin-bottom: 20px;
            width: calc(1120px/3);
            font-size: 20px;
            &:nth-child(4) {
                margin-left: 0;
            }
            .title {
                font-size: 20px;
            }
        }
    } 
    .list_wrap_larger.play_for {
        .list_item {
            width: calc(1100px/4);
        }
    }
    .list_wrap_news {
        position: relative;
        .title {
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            height: 220px;
            font-size: 17px;
            white-space: pre-line;
            text-shadow: 0 1px rgba(0,0,0,.15), 0 0 10px rgba(0,0,0,.20);
            background-image: linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
        }
        .link_sub {
            margin-top: 10px;
            text-align: right;
        }
        .list_item:hover {
            .title {
                color: transparent;
                text-shadow: none;
            }
        }
    }
    .VueCarousel-navigation-next,
    .VueCarousel-navigation-prev {
        opacity: 0;
        z-index: 5;
        position: absolute;
        top: calc(50% - 28px);
        width: 48px;
        height: 56px;
        background: var(--v-body-bg);
        cursor: pointer;
        transition: all .1s ease;
        &:after {
            background-position: -396px -714px;
            width: 24px;
            height: 24px;
            margin: 0 auto;
            vertical-align: middle;
        }
    }
    .VueCarousel-navigation-next {
        right: -48px;
        transform: rotate(180deg);
    }
    .VueCarousel-navigation-prev {
        left: -48px;
    }
    &:hover {
        .VueCarousel-navigation-next,
        .VueCarousel-navigation-prev {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
}

//
// 차트
//
.end_title {
    margin-top: 80px;
    font-weight: 600;
    font-size: 40px;
}
.end_section {
    margin-top: 72px;
    .section_title {
        display: block;
        padding-bottom: 24px;
        font-weight: 600;
        font-size: 20px;
    }
}
.list_wrap_track_rank {
    position: relative;
    font-size: 15px;
    > div {
        overflow: hidden;
    }
    .scroll_list {
        position: relative;
        display: block;
        width: auto;
        white-space: nowrap;
    }
    .list_item {
        display: inline-block;
        padding-right: 10px;
        width: 50%;
        vertical-align: top;
        .list_track_row {
            display: flex;
            width: 100%;
            height: 70px;
            padding: 10px 0;
            .thumb {
                position: relative;
                width: 50px;
                border-radius: 3px;
                overflow: hidden;
                img {
                    width: 100%;
                }
                .icon_play {
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    background-color: rgba(0, 0, 0, .8);
                    transition: all .15s cubic-bezier(.210, .60, .350, 1);
                    &:after {
                        content: '';
                        width: 15px;
                        height: 18px;
                        background: url('../svg/i-play.svg') no-repeat center;
                        background-size: 12px;
                        transform: translateX(1px);
                    }
                }
            }
            .rank {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40px;
                font-weight: 600;
                font-size: 15px;
                .up {
                    &:before {
                        content: '';
                        display: block;
                        border: 4px solid transparent;
                        border-bottom-color: var(--v-c-point);
                    }
                }
                .down {
                    &:before {
                        content: '';
                        display: block;
                        margin-top: 4px;
                        border: 4px solid transparent;
                        border-top-color: var(--v-c-border);
                    }
                }
            }
            .song_area {
                padding-top: 2px;
                .inner {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-break: break-all;
                }
                .song {
                    font-weight: 600;
                }
                .artist {
                    a {
                        color: var(--v-c-gray);
                    }
                }
            }
            &:hover {
                .icon_play {
                    opacity: 1;
                }
            }
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .VueCarousel-navigation-next {
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        width: 44px;
        height: 44px;
        border-radius: 5px;
        background: var(--v-c-border-light) url('../svg/i-carousel-next.svg') no-repeat center;
        border-radius: 50%;
        transition: opacity .1s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
    &:hover {
        .VueCarousel-navigation-next {
            opacity: 1;
        }
    }
}

//
// 장르 보기 방법 추가
//
.genre_wrap {
    position: relative;
    .btn_genre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-top: 16px;
        padding: 0 16px;
        width: 180px;
        height: 44px;
        border: 0;
        background: var(--v-c-input);
        color: var(--v-c-white);
        font-weight: 600;
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
        &:after {
            opacity: .6;
            content: '';
            display: inline-block;
            margin-left: 10px;
            width: 15px;
            height: 12px;
            background-color: var(--v-c-white);
            mask: url('../svg/i-carousel-next.svg') no-repeat center;
            transform: rotate(90deg);
            transition: all .1s ease-in-out;
            cursor: pointer;
        }
    }
    .genre_items {
        display: none;
        opacity: 0;
        z-index: 1;
        position: absolute;
        flex-wrap: wrap;
        padding: 40px 0;
        border-bottom: 1px solid var(--v-c-border-light);
        background: rgba(0,0,0,.9);
        backdrop-filter: blur(10px);
        overflow: hidden;
        transition: all .1s ease-in-out;
        transform: translateY(-20px);
        a {
            position: relative;
            margin: 6px 0;
            padding: 10px 0;
            width: 25%;
            font-weight: 600;
            font-size: 17px;
            transition: color .1s ease-in-out;
            &:after {
                opacity: 0;
                content: '';
                display: inline-block;
                margin-left: 8px;
                width: 15px;
                height: 12px;
                background-color: var(--v-c-point);
                mask: url('../svg/i-carousel-next.svg') no-repeat center;
                transform: translateX(-8px);
                transition: all .1s ease-in-out;
            }
            &:hover {
                color: var(--v-c-point);
                &:after {
                    opacity: 1;
                    transform: translateX(2px);
                }
            }
        }
    }
    &.open {
        .btn_genre {
            background: var(--v-c-point);
        }
        .btn_genre:after {
            transform: rotate(-90deg);
        }
        .genre_items {
            display: flex;
            opacity: 1;
            transform: translateY(0);
        }
    }
}
.list_wrap_genre {
    .list_item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .link_box {
        display: flex;
        padding: 0 10px 10px 0;
        width: calc(100% / 3);
        a {
            opacity: .8;
            display: flex;
            align-items: center;
            padding: 6px;
            width: 100%;
            height: 50px;
            background: var(--v-c-input);
            font-weight: 600;
            font-size: 15px;
            border-radius: 5px;
            overflow: hidden;
            transition: opacity .1s ease-in-out;
            .bar {
                width: 4px;
                height: 38px;
                border-radius: 1px;
            }
            .text {
                padding-left: 12px;
                white-space: nowrap;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}

.list_wrap_video,
.list_wrap_album,
.list_wrap_artist {
    > div {
        overflow: hidden;
    }
    .scroll_list {
        white-space: nowrap;
    }
    .list_item {
        display: inline-block;
        width: calc(1080px / 5);
        &+.list_item {
            margin-left: 20px;
        }
        &:hover {
            .link:after {
                opacity: .5;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        .btn_play_now {
            opacity: 0;
            z-index: 25;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 15px;
            left: 15px;
            width: 44px;
            height: 44px;
            background-color: rgba(0, 0, 0, .5);
            backdrop-filter: blur(8px);
            border-radius: 50%;
            transition: all .15s cubic-bezier(.210, .60, .350, 1);
            &:after {
                content: '';
                width: 15px;
                height: 18px;
                background: url('../svg/i-play.svg') no-repeat center;
                background-size: 12px;
                transform: translateX(1px);
            }
            &:hover {
                background-color: var(--v-c-point);
                transform: scale(1.1);
            }
            &:active {
                transform: rotateX(180deg);
            }
        }
        &:hover {
            .btn_play_now,
            .btn_option_now {
                opacity: 1;
            }
        }
    }
    .thumb_area {
        position: relative;
    }
    .link {
        flex: 1;
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;
        border-radius: 4px;
        img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            transition: transform .5s cubic-bezier(.210, .60, .350, 1);
        }
        &:after {
            content: '';
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            opacity: 0;
            transition: all .5s cubic-bezier(.210, .60, .350, 1);
        }
    }
    .more_option {
        z-index: 25;
        position: absolute;
        left: 68px;
        bottom: 15px;
        width: 40px;
        height: 44px;
        .btn_option_now {
            opacity: 0;
            display: block;
            width: 40px;
            height: 44px;
            background: url('../svg/i-more.svg') no-repeat center;
            transition: opacity .1s ease-in;
        }
        .ly_option {
            display: none;
            z-index: 55;
            position: absolute;
            left: -8px;
            top: 40px;
            width: 150px;
            background: #FFF;
            border-radius: 5px;
            a {
                display: block;
                padding: 6px 12px;
                color: var(--v-c-black);
                font-weight: 400;
                font-size: 13px;
                white-space: nowrap;
                box-shadow: 0 1px rgba(0, 0, 0, .08);
                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                }
            }
        }
    }
}
.list_wrap_artist {
    .thumb {
        border-radius: 50%;
        overflow: hidden;
    }
    .artist {
        margin-top: 10px;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }
}

.list_wrap_album {
    .info {
        position: relative;
        margin-top: 12px;
        .rank {
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40px;
            height: 40px;
            font-weight: 600;
            font-size: 15px;
            .up {
                &:before {
                    content: '';
                    display: block;
                    border: 4px solid transparent;
                    border-bottom-color: var(--v-c-point);
                }
            }
            .down {
                &:before {
                    content: '';
                    display: block;
                    margin-top: 4px;
                    border: 4px solid transparent;
                    border-top-color: var(--v-c-border);
                }
            }
        }
        .title {
            position: relative;
            display: block;
            height: 20px;
            font-weight: 600;
            overflow: hidden;
            .text {
                position: relative;
                display: inline-block;
                max-width: 100%;
                height: 20px;
                line-height: 20px;
                padding-right: 8px;
                white-space: nowrap;
                word-break: break-all;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .artist {
            opacity: .5;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
.list_wrap_video {
    .list_item {
        margin-bottom: 20px;
        width: calc(1120px/3);
        font-size: 20px;
        &:nth-child(4) {
            margin-left: 0;
        }
    }
    .thumb {
        flex: 1;
        position: relative;
        display: block;
        width: 100%;
        max-height: 400px;
        overflow: hidden;
        border-radius: 4px;
        img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            transition: transform .5s cubic-bezier(.210, .60, .350, 1);
        }
        &:after {
            content: '';
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            opacity: 0;
            transition: all .5s cubic-bezier(.210, .60, .350, 1);
        }
    }
    .title {
        display: block;
        margin-top: 12px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 1.4;
        word-break: keep-all;
        &:hover {
            text-decoration: underline;
        }
    }
    .artist {
        opacity: .5;
        display: block;
        font-size: 15px;
    }
}

/*
    음반/앨범/아티스트
    싱글 페이지 상단
*/
.summary_section {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    .summary_thumb {
        position: relative;
        width: 280px;
        height: 280px;
        border-radius: 6px;
        overflow: hidden;
        img {
            width: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.4));
        }
    }
    .summary {
        position: relative;
        padding-left: 40px;
        width: calc(100% - 280px);
        .title_area {
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 28px;
            line-height: 1.5;
            .title {
                font-weight: 600;
            }
        }
        .sub {
            margin-top: 4px;
            opacity: .5;
            font-weight: 400;
            font-size: 16px;
            .item {
                margin-right: 4px;
            }
        }
        .info {
            margin-top: 20px;
            height: 81px;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            white-space: pre-line;
            text-overflow: ellipsis;
            overflow: hidden;
            span {
                opacity: .5;
            }
            .more {
                opacity: .5;
                font-weight: 600;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .option_area {
            position: absolute;
            left: 40px;
            bottom: 0;
            margin-top: 20px;
            .area_inner {
                display: flex;
                flex-direction: row;
            }
            .play_option {
                display: flex;
                flex-direction: row;
                .inner_option {
                    margin-right: 10px;
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    height: 40px;
                    background: var(--v-c-border-light);
                    color: var(--v-c-white);
                    font-weight: 600;
                    font-size: 15px;
                    border-radius: 3px;
                }
                .btn_play {
                    background: var(--v-c-white);
                    color: var(--v-c-black);
                }
            }
            .more_option {
                display: inline-block;
                width: 40px;
                height: 44px;
                .btn_option {
                    display: block;
                    width: 40px;
                    height: 44px;
                    background: url('../svg/i-more.svg') no-repeat center;
                    transition: opacity .1s ease-in;
                }
                .ly_option {
                    display: none;
                    z-index: 55;
                    position: absolute;
                    left: -8px;
                    top: 40px;
                    width: 150px;
                    background: #FFF;
                    border-radius: 5px;
                    a {
                        display: block;
                        padding: 6px 12px;
                        color: var(--v-c-black);
                        font-weight: 400;
                        font-size: 13px;
                        white-space: nowrap;
                        box-shadow: 0 1px rgba(0, 0, 0, .08);
                        &:hover {
                            background-color: rgba(0, 0, 0, .05);
                        }
                    }
                }
            }
        }
    }
}
.play_control_area {
    display: none;
    margin-top: 40px;
    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        width: 120px;
        height: 40px;
        background: var(--v-c-border-light);
        color: var(--v-c-white);
        font-weight: 500;
        font-size: 15px;
        border-radius: 3px;
    }
}
.floating_bar {
    display: none;
}
.track_section {
    h4 {
        margin: 40px 0 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--v-c-border-light);
        color: var(--v-c-gray);
        font-weight: 600;
        font-size: 15px;
    }
    table {
        width: 100%;
        table-layout: fixed;
        font-size: 16px;
        td {
            height: 50px;
        }
        .artist {
            display: none;
        }
        .select,
        .num {
            width: 50px;
            font-weight: 600;
            text-align: center;
        }
        .input_check {
            position: relative;
            width: 18px;
            height: 18px;
            border: 0;
            background: var(--v-c-input);
            border-radius: 2px;
            vertical-align: middle;
            cursor: pointer;
            &:hover {
                background: var(--v-c-gray);
            }
            &:checked {
                background: var(--v-c-black);
                &:hover:after {
                    opacity: .5;
                }
            }
            &:checked:after {
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                background-color: var(--v-c-white);
                mask: url('../svg/input-checkmark.svg') no-repeat center;
                mask-size: 15px;
            }
        }
    }
    .song {
        width: calc(100% - 280px);
        a {
            display: block;
            padding-left: 10px;
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .disabled {
        opacity: .5;
    }
    .mp3 {
        width: 80px;
    }
    .lyrics {
        width: 50px;
        .btn_lyrics {
            opacity: .25;
            display: inline-block;
            background-color: var(--v-c-white);
            mask: url(../svg/i-lyric.svg) no-repeat center;
            width: 22px;
            height: 22px;
            vertical-align: middle;
            &:hover {
                opacity: 1;
                transition: opacity .1s ease-in;
            }
        }
    }
    .link_buy_mp3 {
        &:after {
            content: 'MP3';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 18px;
            background: var(--v-c-input);
            color: var(--v-c-gray);
            font-weight: 500;
            font-size: 10px;
            border-radius: 2px;
        }
        &:hover:after {
            opacity: 1;
            background: var(--v-c-white);
            color: var(--v-c-black);
        }
    }
    .option {
        width: 50px;
        text-align: center;
        .btn_option {
            opacity: 0;
            display: inline-block;
            width: 40px;
            height: 44px;
            background: url('../svg/i-more.svg') no-repeat center;
            transition: opacity .1s ease-in;
            vertical-align: middle;
            &:hover {
                opacity: 1;
            }
        }
        .ly_option {
            display: none;
            z-index: 55;
            position: absolute;
            left: -8px;
            top: 40px;
            width: 150px;
            background: #FFF;
            border-radius: 5px;
            a {
                display: block;
                padding: 6px 12px;
                color: var(--v-c-black);
                font-weight: 400;
                font-size: 13px;
                white-space: nowrap;
                box-shadow: 0 1px rgba(0, 0, 0, .08);
                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                }
            }
        }
    }
    tr:hover {
        .btn_option {
            opacity: .5;
        }
    }
}
.end_comment,
.floating_select {
    display: none;
}

.billboard {
    position: relative;
    &:before {
        content: '';
        display: inline-block;
        width: 90px;
        height: 18px;
        background-color: var(--v-c-white);
        mask: url('../svg/i-billboard.svg') no-repeat left center;
        mask-size: 84px;
    }
}


/*
    footer
*/

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 120px auto 150px;
    width: 1160px;
    color: rgba(255, 255, 255, .5);
    font-weight: 400;
    font-size: 12px;
    transform: translateX(140px);
    .notice {
        display: flex;
        padding: 16px 0;
        font-size: 14px;
        line-height: 1;
        border-radius: 3px;
        > .link {
            font-weight: 600;
        }
        li {
            display: none;
            margin-left: 16px;
            &:first-child {
                display: block;
            }
        }
        a {
            color: var(--v-c-white);
        }
    }
    a {
        display: inline-block;
        color: rgba(255, 255, 255, .5);
        text-decoration: none;
        &+a {
            margin-left: 12px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    address {
        font-size: 12px;
    }
    .item {
        display: inline-block;
        padding: 4px 0;
    }
    .item+.item {
        margin-left: 16px;
    }
    .item_head {
        margin-right: 6px;
    }
    .naver_info {
        >.item:first-child {
            margin-bottom: 2px;
        }
    }
    .sns {
        order: -1;
        display: flex;
        padding-bottom: 40px;
        a {
            display: inline-block;
            margin: 0 20px 0 0;
            background: no-repeat center;
            width: 30px;
            height: 30px;
            &:hover {
                opacity: .6;
            }
        }
        .link_facebook {
            background-image: url('../svg/i-facebook.svg');
        }
        .link_insta {
            order: -1;
            background-image: url('../svg/i-instagram.svg');
        }
        .link_naver {
            background-image: url('../svg/i-naver.svg');
        }
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    88% {
        transform: scale(1.02);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

/* media query */
@media (max-width: 1680px) {
    .today_section h3 {
        font-size: 20px;
    }
    .today_section {
        font-size: 20px;
    }
}
@media (max-width: 1280px) {
    .today_section h3 {
        font-size: 20px;
    }
    .today_section {
        font-size: 15px;
    }
}