/*
    컬러 팔레트 정의
*/

:root {
    --v-c-black: #000;
    --v-c-gray: #8E8E93;
    --v-c-white: #FFF;
    --v-c-border: #2C2C2E;
    --v-c-border-light: #151515;
    --v-c-input: #1C1C1E;
    --v-c-point: #FF0050;
}


/*
    gnb nav
    #header
*/

#header {
    z-index: 555;
    position: fixed;
    bottom: 81px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: calc(100vh - 81px);
    background: var(--v-c-black);
    color: var(--v-c-white);
    transition: all .1s cubic-bezier(.210, .60, .350, 1);
    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: var(--v-c-border);
        transform: scaleX(0.5);
    }
    &:focus-within {
        .menu_item,
        .extra_menu {
            opacity: .2;
            filter: grayscale(100%);
        }
    }
    &.on_scroll {
        background: var(--v-blur-bg);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
    .link_logo {
        display: block;
        margin: 40px 50px 30px;
        width: 158px;
        height: 28px;
        background: url('../svg/logo.svg') no-repeat left center;
        background-size: 158px;
    }
    .my_menu {
        padding: 0 0 30px 50px;
        width: 300px;
        overflow: hidden;
        scroll-behavior: smooth;
        &:hover {
            overflow-y: auto;
        }
        .ly_menu {
            width: 200px;
        }
    }
    .menu_list {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        .menu_item {
            position: relative;
            .link_menu {
                position: relative;
                display: flex;
                height: 44px;
                color: var(--v-c-white);
                font-weight: 600;
                font-size: 17px;
                line-height: 44px;
                white-space: nowrap;
                align-items: center;
                border-radius: 4px;
                &.on,
                &.on:hover {
                    opacity: 1;
                    background-color: transparent;
                    color: var(--v-c-point);
                    &:after {
                        border-top-color: var(--v-c-point);
                    }
                    &:before {
                        background-color: var(--v-c-point);
                    }
                }
                &:hover {
                    opacity: 0.8;
                    color: var(--v-c-white);
                    // transform: translateX(4px);
                    &:after {
                        border-top-color: var(--v-c-white);
                    }
                    &:before {
                        background-color: var(--v-c-white);
                    }
                }
            }
            >.link_menu:before {
                content: '';
                display: inline-block;
                margin-right: 11px;
                width: 24px;
                height: 44px;
                mask: no-repeat center;
                background-color: var(--v-c-white);
            }
            .link_today:before {
                mask-image: url('../svg/i-nav-today.svg');
                mask-size: 21px;
            }
            .link_chart:before {
                mask-image: url('../svg/i-nav-chart.svg');
                mask-size: 22px;
            }
            .link_dj:before {
                mask-image: url('../svg/i-nav-djstation.svg');
                mask-size: 22px;
            }
            .link_mag:before {
                mask-image: url('../svg/i-nav-mag.svg');
                mask-size: 20px;
            }
            .link_monthly:before {
                mask-image: url('../svg/i-nav-monthly.svg');
                mask-size: 20px;
            }
            .link_library:before {
                mask-image: url('../svg/i-archive.svg');
                mask-size: 20px;
            }
            .on:before {
                background-color: var(--v-c-point);
            }
        }
        .item_library {
            display: none;
            .sub_menu_title {
                display: flex;
                position: relative;
                margin-top: 4px;
                height: 40px;
                color: var(--v-c-white);
                font-size: 17px;
                line-height: 40px;
                white-space: nowrap;
                align-items: center;
                border-radius: 4px;
                cursor: pointer;
                &:before {
                    content: '';
                    display: inline-block;
                    margin-right: 10px;
                    width: 24px;
                    height: 24px;
                    mask: url('../svg/i-archive.svg') no-repeat center;
                    background-color: var(--v-c-white);
                    mask-size: 20px;
                }
                // 드랍다운 화살표 모양
                // &:after {
                //     content: '';
                //     margin-top: 2px;
                //     margin-left: 6px;
                //     border: 4px solid transparent;
                //     border-top-color: var(--v-c-gray);
                // }
            }
            ul {
                display: none;
                flex-direction: column;
                margin: 10px 0 0 42px;
                a {
                    opacity: .5;
                    margin-top: 0;
                    height: 37px;
                    line-height: 37px;
                    font-size: 16px;
                    &.on {
                        opacity: 1;
                        color: var(--v-c-point);
                    }
                }
            }
        }
    }
    .profile_area {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        width: 200px;
        border: 1px solid var(--v-c-border-light);
        border-width: 1px 0;
        cursor: pointer;
        .profile {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .img_wrap {
            margin: 0 10px 0 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .nickname {
            position: relative;
            display: inline-flex;
            align-items: center;
            width: calc(100% - 38px);
            color: var(--v-c-white);
            font-weight: 600;
            font-size: 18px;
            line-height: 52px;
            white-space: nowrap;
            text-overflow: ellipsis;
            // 드랍다운 화살표 스타일링
            // &:after {
            //     content: '';
            //     margin-top: 2px;
            //     margin-left: 6px;
            //     border: 4px solid transparent;
            //     border-top-color: var(--v-c-gray);
            // }
        }
    }
    .profile_m {
        display: none;
        position: relative;
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;
        cursor: pointer;
        .img_wrap {
            margin-right: 14px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .text_wrap {
            position: relative;
            display: inline-flex;
            align-items: center;
            width: calc(100% - 38px);
            color: var(--v-c-white);
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            &:after {
                content: '';
                margin-top: 2px;
                margin-left: 6px;
                border: 4px solid transparent;
                border-top-color: var(--v-c-gray);
            }
        }
    }
    .search_area {
        position: relative;
        width: 100%;
        .input_area {
            position: relative;
            display: block;
            &:after {
                content: '';
                z-index: 2;
                position: absolute;
                left: 12px;
                top: 11px;
                width: 18px;
                height: 18px;
                mask: url('../svg/i-search.svg') no-repeat center;
                mask-size: 18px;
                background-color: var(--v-c-gray);
            }
            &:focus-within:after {
                background-color: var(--v-c-black);
            }
            input {
                display: block;
                padding: 0 12px 0 46px;
                width: 100%;
                height: 40px;
                border: 0;
                background: var(--v-c-input);
                color: var(--v-c-white);
                font-weight: 500;
                font-size: 18px;
                line-height: 40px;
                border-radius: 5px;
                &:focus {
                    background: var(--v-c-white);
                    color: var(--v-c-black);
                }
                &::placeholder {
                    color: var(--v-c-gray);
                }
            }
        }
    }
    .search_area {
        // 검색창이 위에 있을 때 테스트용
        order: -1;
        margin-bottom: 30px;
    }
    .recent_keyword_area {
        display: none;
        z-index: 1;
        position: fixed;
        margin-top: 10px;
        padding: 5px 0;
        width: 400px;
        background: var(--v-c-white);
        color: var(--v-c-input);
        border-radius: 4px;
        box-shadow: 0 0 16px rgba(0, 0, 0, .08);
        h2 {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 20px;
            height: 36px;
            color: var(--v-c-gray);
            font-size: 13px;
            .btn_delete_all {
                position: absolute;
                right: 0;
                top: 0;
                width: 36px;
                height: 36px;
                background-color: var(--v-c-point);
                mask: url('../svg/i-close.svg') no-repeat center;
                mask-size: 10px;
                &:hover {
                    opacity: 1;
                }
            }
        }
        li {
            position: relative;
        }
        .recent_keyword {
            display: flex;
            align-items: center;
            padding: 0 20px;
            height: 36px;
            color: var(--v-c-black);
            font-size: 16px;
            &:hover {
                background-color: rgba(0, 0, 0, .05);
            }
        }
        .btn_delete {
            position: absolute;
            right: 0;
            top: 0;
            width: 36px;
            height: 36px;
            background-color: var(--v-c-gray);
            mask: url('../svg/i-close.svg') no-repeat center;
            mask-size: 10px;
            &:hover {
                opacity: 1;
            }
        }
    }
    .extra_menu {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding-top: 30px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 1px;
            background: var(--v-c-border);
            transform: scaleY(0.5);
        }
        a {
            height: 36px;
            font-weight: 600;
            font-size: 17px;
            &:hover {
                opacity: 0.8;
            }
            &.on,
            &.on:hover {
                color: var(--v-c-point);
            }
        }
        .link_wheresmymoney,
        .link_musician_league,
        .link_onstage {
            display: block;
            &:before {
                content: '';
                display: block;
                width: 90px;
                height: 18px;
                mask-repeat: no-repeat;
                mask-position: left center;
                background-color: var(--v-c-white);
            }
            &:hover {
                &:before {
                    background-color: var(--v-c-point);
                }
            }
        }
        .link_wheresmymoney:before {
            width: 82px;
            mask-image: url('../svg/i-wheresmymoney.svg');
            mask-size: 82px;
        }
        .link_onstage:before {
            width: 104px;
            mask-image: url('../svg/i-onstage.svg');
            mask-size: 104px;
        }
        .link_musician_league:before {
            width: 104px;
            mask-image: url('../svg/i-musician-league.svg');
            mask-size: 104px;
        }
    }
    .floating_area {
        margin-top: auto;
        padding: 20px;
        width: 100%;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            background: var(--v-c-border-light);
            font-weight: 600;
            font-size: 16px;
            border-radius: 4px;
            &:before {
                display: none;
                content: '';
                margin-right: 10px;
                width: 17px;
                height: 19px;
                background-color: var(--v-c-white);
                mask: url('../svg/i-v.svg') no-repeat center;
                mask-size: 17px;
            }
            &:hover {
                background: var(--v-c-white);
                color: var(--v-c-black);
                &:before {
                    background-color: var(--v-c-point);
                }
            }
        }
    }
    /* 임시 hidden 처리 */
    .btn_close_search,
    .extra_menu_m,
    .btn_close,
    .btn_menu {
        display: none;
    }
    .ly_option {
        position: absolute;
        margin-left: 36px;
        top: 36px;
        width: 180px;
    }
}

//
//  Sidebar type B
//
.second {
    #header {
        .menu_list .link_menu {
            display: inline-flex;
            padding-right: 12px;
            border-radius: 20px;
        }
        .profile_area {
            display: none;
        }
        .profile_m {
            display: flex;
            margin-bottom: 0;
            .img_wrap {
                margin-right: 10px;
            }
        }
        .search_area {
            order: inherit;
            margin-bottom: 0;
            input {
                padding-left: 42px;
                border-radius: 20px;
            }
        }
        .item_library {
            position: relative;
            margin: 30px 0 10px;
            padding-top: 30px;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 1px;
                background: var(--v-c-border);
                transform: scaleY(0.5);
            }
            .sub_menu_title {
                display: none;
            }
            ul {
                display: flex;
                flex-direction: column;
                margin: 0 0 0 42px;
                padding: 8px 0;
                font-weight: 600;
                a {
                    opacity: 1;
                    display: inline-flex;
                    margin-top: 0;
                    height: 36px;
                    line-height: 36px;
                    font-size: 18px;
                    &:hover {
                        color: var(--v-c-point);
                    }
                }
            }
            .ly_option a {
                display: flex;
                font-size: 14px;
                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                    color: var(--v-c-black);
                }
            }
        }
        .extra_menu {
            a {
                font-size: 17px;
            }
        }
    }
}

.content {
    .extra_menu {
        display: flex;
        position: relative;
        align-items: center;
        padding: 95px 0 0;
        font-size: 17px;
        &:before {
            content: 'VIBE Spotlight On';
            padding-left: 24px;
            height: 20px;
            background: url('../svg/i-v.svg') no-repeat left center;
            color: var(--v-c-gray);
            font-weight: 600;
            line-height: 20px;
            vertical-align: middle;
        }
        a {
            margin-left: 20px;
            color: var(--v-c-white);
            font-weight: 600;
            &:hover {
                color: var(--v-c-point);
                text-decoration: underline;
            }
        }
        // .link_wheresmymoney,
        // .link_musician_league,
        // .link_onstage {
        //     display: block;
        //     &:before {
        //         content: '';
        //         display: block;
        //         width: 90px;
        //         height: 18px;
        //         background-repeat: no-repeat;
        //         background-position: left center;
        //     }
        //     &:hover {
        //         opacity: .8;
        //     }
        // }
        // .link_wheresmymoney:before {
        //     width: 82px;
        //     background-image: url('../svg/i-wheresmymoney.svg');
        //     background-size: 82px;
        // }
        // .link_onstage:before {
        //     width: 104px;
        //     background-image: url('../svg/i-onstage.svg');
        //     background-size: 104px;
        // }
        // .link_musician_league:before {
        //     width: 104px;
        //     background-image: url('../svg/i-musician-league.svg');
        //     background-size: 104px;
        // }
        &~.today_section {
            padding-top: 40px;
        }
    }
}