/*
    컬러 팔레트 정의
*/

:root {
    --v-c-black: #000;
    --v-c-gray: #8E8E93;
    --v-c-white: #FFF;
    --v-c-border: #2C2C2E;
    --v-c-border-light: #151515;
    --v-c-input: #1C1C1E;
    --v-c-point: #FF0050;
}

/*
    gnb nav
    #header
*/

#header {
    z-index: 555;
    position: fixed;
    left: 0;
    bottom: 81px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
    height: calc(100vh - 81px);
    border-right: 1px solid var(--v-c-border-light);
    background: var(--v-c-black);
    color: var(--v-c-white);
    transition: all .1s cubic-bezier(.210, .60, .350, 1);
    &.on_scroll {
        background: var(--v-blur-bg);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
    .link_logo {
        display: block;
        margin: 30px;
        width: 128px;
        height: 20px;
        background: url('../svg/logo.svg') no-repeat left center;
    }
    .my_menu {
        padding: 0 30px 30px;
        width: 100%;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    .menu_list {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        .menu_item {
            position: relative;
            a {
                opacity: 0.8;
                display: flex;
                padding: 9px 0;
                color: var(--v-c-white);
                font-weight: 600;
                font-size: 16px;
                white-space: nowrap;
                align-items: center;
                &.on {
                    opacity: 1;
                    color: var(--v-c-point);
                }
                &:hover {
                    opacity: 1;
                }
            }
            > .link_menu:before {
                content: '';
                display: inline-block;
                margin-right: 14px;
                width: 20px;
                height: 20px;
                mask: no-repeat center center;
                background-color: var(--v-c-white);
            }
            .link_today:before {
                mask-image: url('../svg/i-nav-today.svg');
            }
            .link_chart:before {
                mask-image: url('../svg/i-nav-chart.svg');
            }
            .link_dj:before {
                mask-image: url('../svg/i-nav-djstation.svg');
            }
            .link_mag:before {
                mask-image: url('../svg/i-nav-mag.svg');
            }
            .link_monthly:before {
                mask-image: url('../svg/i-nav-monthly.svg');
            }
            .on:before {
                background-color: var(--v-c-point);
            }
        }
        .item_library {
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid var(--v-c-border-light);
            .sub_menu_title {
                padding: 4px 0 4px 34px;
                color: var(--v-c-gray);
                font-size: 13px;
            }
            ul {
                display: flex;
                flex-direction: column;
                padding: 8px 0;
                a {
                    display: block;
                    padding: 8px 0 8px 34px;
                }
            }
        }
    }
    .profile_m {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        margin-bottom: 24px;
        cursor: pointer;
        .img_wrap {
            margin-right: 10px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .text_wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: stretch;
            width: calc(100% - 34px);
            color: var(--v-c-white);
            font-weight: 600;
            font-size: 16px;
            &:after {
                content: '';
                margin-left: 10px;
                border: 4px solid transparent;
                border-top-color: var(--v-c-gray);
            }
        }
        .ly_option {
            display: none;
            z-index: 55;
            position: absolute;
            right: 0;
            top: 60px;
            width: 120px;
            background: #FFF;
            border-radius: 5px;
            a {
                display: block;
                padding: 8px 12px;
                color: var(--v-c-black);
                font-weight: 500;
                font-size: 15px;
                white-space: nowrap;
                box-shadow: 0 1px rgba(0, 0, 0, .08);
                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                }
            }
        }
    }
    .search_area {
        margin-top: 10px;
        width: 100%;
        .input_area {
            position: relative;
            display: block;
            &:after {
                content: '';
                z-index: 2;
                position: absolute;
                left: 12px;
                top: 11px;
                width: 14px;
                height: 14px;
                background: url('../svg/i-search.svg') no-repeat center;
            }
            input {
                display: block;
                padding: 0 12px 0 36px;
                width: 100%;
                height: 36px;
                border: 0;
                background: var(--v-c-input);
                color: var(--v-c-white);
                font-weight: 500;
                font-size: 15px;
                line-height: 36px;
                border-radius: 5px;
            }
        }
    }
    /* 임시 hidden 처리 */
    .btn_close_search,
    .floating_area,
    .extra_menu_m,
    .btn_close,
    .btn_menu {
        display: none;
    }
}

.extra_menu {
    position: relative;
    display: flex;
    align-items: center;
    padding: 50px 0;
    font-size: 15px;
    &:before {
        content: 'VIBE Spotlight On';
        padding-left: 24px;
        height: 20px;
        background: url('../svg/i-v.svg') no-repeat left center;
        color: var(--v-c-gray);
        font-weight: 600;
    }
    a {
        display: none;
        margin-left: 10px;
        color: var(--v-c-white);
        transition: all .1s ease;
    }
    .link_wheresmymoney,
    .link_musician_league,
    .link_onstage {
        display: block;
        &:before {
            content: '';
            display: block;
            width: 90px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: left center;
        }
        &:hover {
            opacity: .8;
        }
    }
    .link_wheresmymoney:before {
        width: 82px;
        background-image: url('../svg/i-wheresmymoney.svg');
        background-size: 82px;
    }
    .link_onstage:before {
        width: 104px;
        background-image: url('../svg/i-onstage.svg');
        background-size: 104px;
    }
    .link_musician_league:before {
        width: 104px;
        background-image: url('../svg/i-musician-league.svg');
        background-size: 104px;
    }
}